@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.welcome {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-register-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff;
  width: 360px;
  border-radius: 5px;
}

.login-register-container > h2 {
  color: blueviolet;
}

.login-register-container > input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

input:focus {
  outline: 1px solid green;
}

.login-register-container > button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
